---
import { Image } from "astro:assets";
export interface Props {
  title: string;
  emoji: string;
  href: string;
  image: string;
  description: string;
  date: string;
}
const { href, title, emoji, image, description, date } = Astro.props;
var months = [
  "Januar",
  "Februar",
  "Mars",
  "April",
  "Mai",
  "Juni",
  "Juli",
  "August",
  "September",
  "Oktober",
  "November",
  "Desember",
];
function convertDate(date_str) {
  const temp_date = date_str.split("-");
  return (
    temp_date[2] + ". " + months[Number(temp_date[1]) - 1] + " " + temp_date[0]
  );
}
const convertedDate = convertDate(date);
function emoji_category(cat) {
  switch (cat) {
    case "hverdag":
      return "🥦";
    case "helg":
      return "🌮";
    case "søtt":
      return "🍩";
    case "tilbehør":
      return "🌽";
    case "turmat":
      return "🔥";
    default:
      return "🍜";
  }
}
---

<a id="card" href={href} class="fs-card">
  <div class="fs-card__image">
    <Image
      class="fs-card__picture"
      src={image}
      alt=""
      width={1000}
      height={300}
      sizes="(max-width: 1020px) 100vw, 200px"
      format="webp"
    />
  </div>
  <div class="fs-card__content">
    <div class="fs-card__mobile-emoji">
      <div class="fs-card__mobile-emoji-circle">
        <span>{emoji_category(emoji)}</span>
      </div>
    </div>
    <div class="fs-card__text">
      <h2>
        {title}
      </h2>
      <p>
        {description}
      </p>
      <p class="fs-card__text-date-mobile">
        {convertedDate}
      </p>
    </div>
    <div class="fs-card__laptop-emoji">
      <p class="fs-card__laptop-emoji-date">{convertedDate}</p>
      <div class="fs-card__laptop-emoji-circle">
        <span>{emoji_category(emoji)}</span>
      </div>
    </div>
  </div>
</a>

<style lang="scss">
  @use "sass:map";
  @use "../../styles/variables/" as *;
  @use "../../styles/mixins/breakpoints" as *;
  @use "../../styles/mixins/" as *;
  .fs-card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--fs-gray-400);
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-radius: 0.5rem;
    background-color: white;
    color: var(--fs-black);
    text-decoration: none;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

    @include bp("tablet-big-up") {
      flex-direction: row;
      border-top-width: 1px;
      max-width: 36rem;
    }
    &:hover {
      background-color: var(--fs-gray-100);
      color: var(--fs-black);
      outline: 2px solid var(--fs-pink-500);
    }
    &:focus-visible {
      outline: 2px solid var(--fs-pink-500);
      background-color: var(--fs-gray-100);
    }
    &:active {
      background-color: var(--fs-gray-200);
      color: var(--fs-black);
    }
    & &__image {
      flex-shrink: 0;
    }
    &__picture {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      @include bp("tablet-big-up") {
        border-radius: 0px;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        width: 12rem;
        height: 100%;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      padding: 1rem;
    }
    &__mobile-emoji {
      position: relative;

      &-circle {
        display: grid;
        background-color: var(--fs-green-100);
        place-items: center;
        box-shadow: var(--fs-black, 0 0 #0000), var(--fs-black, 0 0 #0000),
          var(--fs-black);
        border-radius: 9999px;
        width: 2.5rem;
        height: 2.5rem;
        top: -2.5rem;
        right: 0.5rem;
        position: absolute;
      }
      @include bp("tablet-up") {
        display: none;
      }
    }

    &__laptop-emoji {
      display: none;
      @include bp("tablet-up") {
        display: flex;
        height: 2.5rem;
        position: relative;
      }
      &-date {
        @include get-text("fs-body1");
        display: none;
        @include bp("tablet-up") {
          display: flex;
          margin-top: 0.75rem;
          color: var(--fs-gray-500);
        }
      }
      &-circle {
        display: grid;
        position: absolute;
        background-color: var(--fs-green-100);
        right: 0px;
        bottom: 0px;
        width: 2.5rem;
        height: 2.5rem;
        place-items: center;
        box-shadow: var(--fs-black, 0 0 #0000), var(--fs-black, 0 0 #0000),
          var(--fs-black);
        border-radius: 9999px;
        z-index: 0;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;

      & h2 {
        @include get-text("fs-h6");
        margin-bottom: 1rem;
      }
      & p {
        @include get-text("fs-body1");
        margin-bottom: 0.75rem;
      }
      &-date-mobile {
        margin-top: 0.75rem;
        color: var(--fs-gray-500);

        @include bp("tablet-up") {
          display: none;
        }
      }
    }
  }
</style>
