---
import Layout from "../layouts/Layout.astro";
import Card from "../components/cards/Card.astro";
import SmallCards from "../components/cards/SmallCards.astro";
import SearchBar from "../components/SearchBar.vue";

import { getStory } from "../../utils/storyblock";
import Grid from "../components/Grid.astro";
import ListGrid from "../components/ListGrid.astro";
import Divider from "../components/Divider.astro";
import IntroBanner from "../components/IntroBanner.astro";

import getRecipes from "../data/recipes.json";
const recipes = getRecipes;
const story = await getStory("home");

const sortedRecipes = recipes
  .slice(0)
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<Layout title="Foodstalker">
  <IntroBanner />
  <SearchBar />
  <Divider text="Siste oppskrifter" />
  <Grid>
    {
      sortedRecipes.map((data) => (
        <Card
          href={"/oppskrift/" + data.id}
          title={data.title}
          emoji={data.category}
          image={data.imageurl}
          description={data.description}
          date={data.date}
        />
      ))
    }
  </Grid>

  <ListGrid>
    <!-- ... -->
    <li>
      <SmallCards />
    </li>
    <li>
      <SmallCards />
    </li>
    <li>
      <SmallCards />
    </li>
    <li>
      <SmallCards />
    </li>
  </ListGrid>
</Layout>
