---
import Layout from "../../layouts/Layout.astro";
import ImageGallery from "../../components/ImageGallery.vue";
import Ingredients from "../../components/Ingredients.vue";
import getRecipes from "../../../src/pages/admin/recipe.json";
import { Picture } from "@astrojs/image/components";
import Description from "../../components/Description.astro";
import StepByStep from "../../components/StepByStep.astro";

export async function getStaticPaths() {
  const recipes = getRecipes;
  return recipes.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

const { id } = Astro.params;
const { post } = Astro.props;

const images = post.images;
const mainImage = post.imageurl;
---

<Layout title="Oppskrift">
  <div class="recipe">
    <div class="recipe-grid">
      <div
        class="recipe-title text-green-200 w-2/3 text-4xl md:text-4xl lg:text-5xl font-semibold"
      >
        <h1 class="">
          {post.title}
        </h1>
      </div>
      <div class="recipe-image">
        <Picture
          class="recipe__main-image"
          src={mainImage}
          alt=""
          widths={[400, 800, 200]}
          aspectRatio="10:16"
          sizes="(max-width: 400px) 100vw, 800px"
          fit="cover"
          format="webp"
        />
      </div>
      <div class="recipe-description">
        <Description
          description={post.description}
          longdescription={post.longDescription}
        />
      </div>
      <div class="recipe-steps">
        <StepByStep steps={post.steps} />
      </div>

      <div class="recipe-ingredients">
        {post.ingredients}
        <Ingredients ingredients={post.ingredients} />
      </div>
    </div>
    <ImageGallery images={images} />
  </div>
</Layout>
<style lang="scss" scoped>
  .recipe {
    margin: 16px auto;
    &__main-content {
    }

    &__side-content {
    }
    &__main-image {
      @screen md {
        max-width: 80% !important;
      }
    }
  }

  .recipe-grid {
    display: grid;
    grid-gap: 18px;
    grid-template-areas:
      "title title ingredients"
      "image image ingredients"
      "description description ingredients"
      "steps steps ingredients";
  }

  .recipe-title {
    grid-area: title;
  }

  .recipe-image {
    grid-area: image;
  }

  .recipe-description {
    grid-area: description;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .recipe-steps {
    grid-area: steps;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .recipe-ingredients {
    grid-area: ingredients;
    max-width: 260px;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .recipe-grid {
      grid-template-rows: 150px 650px;
    }
  }

  @media (max-width: 768px) {
    .recipe-grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "title"
        "image"
        "ingredients"
        "description"
        "steps";
    }

    .recipe-ingredients {
    }
  }
</style>
