---
import getRecipes from "../../data/recipes.json";

import Layout from "../../layouts/Layout.astro";
import Card from "../../components/cards/Card.astro";
import SearchBar from "../../components/SearchBar.vue";

// emojis
import hverdagEmoji from "../../assets/hverdag.svg";
import helgEmoji from "../../assets/taco.svg";
import turEmoji from "../../assets/tur.svg";
import tilbehorEmoji from "../../assets/tilbehor.svg";
import sottEmoji from "../../assets/donut.svg";

import Grid from "../../components/Grid.vue";

import Divider from "../../components/Divider.astro";

export async function getStaticPaths() {
  const recipes = getRecipes;
  return recipes.map((post) => {
    return {
      params: { kategori: post.category },
      props: { post },
    };
  });
}
const { post } = Astro.props;

const recipes = getRecipes;

const sortedRecipes = recipes
  .slice(0)
  .sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());

const filteredRecipe = sortedRecipes.filter(function (recipes) {
  return recipes.category === post.category;
});

function emoji_category(cat) {
  switch (cat) {
    case "hverdag":
      return hverdagEmoji;
    case "helg":
      return helgEmoji;
    case "søtt":
      return sottEmoji;
    case "tilbehør":
      return tilbehorEmoji;
    case "turmat":
      return turEmoji;
    default:
      return hverdagEmoji;
  }
}

function capitalizeFirstLetter(string) {
  return string.charAt(0).toUpperCase() + string.slice(1);
}
---

<Layout title={post.category}>
  <div class="grid justify-center">
    <img
      class="w-16 md:w-32 lg:w-48"
      src={emoji_category(post.category)}
      alt=""
      aria-hidden="true"
    />
  </div>

  <Divider text={capitalizeFirstLetter(post.category)} />
  <SearchBar client:load />

  <Grid>
    {
      filteredRecipe.map((data) => (
        <Card
          href={"/oppskrift/" + data.id}
          title={data.title}
          emoji={data.category}
          image={data.imageurl}
          description={data.description}
          date={data.date}
        />
      ))
    }
  </Grid>
</Layout>
