---
import Divider from "./Divider.astro";
export interface Props {
  longdescription?: string;
  description?: string;
  time?: string;
  portions?: string;
}

const { description, longdescription, time, portions } = Astro.props;

// funksjon i stedenfor med set:html={rawHTMLString}
---

<div class="fs-description">
  <div class="fs-description__emojis">
    <span>👯 {portions} posjoner</span>
    <span>⏳ {time}</span>
  </div>
  <Divider grey />
  <p class="fs-description__ingress" set:html={description} />

  <p class="fs-description__text" set:html={longdescription} />
</div>

<style lang="scss" scoped>
  @use "../styles/mixins/" as *;

  .fs-description {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    &__ingress {
      @include get-text("fs-h5");
      margin-bottom: 1rem;
    }
    &__text {
    }
    &__emojis {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      color: var(--fs-gray-500);

      @include bp("tablet-up") {
        flex-direction: row;
      }
    }
  }
</style>
