---
import Divider from "./Divider.astro";
import DifficultyBadge from "./DifficultyBadge.vue";
import Badge from "./Badge.vue";

export interface Props {
  longDescription?: string;
  description?: string;
  time?: string;
  portions?: number;
  recipe?: any;
}

const { description, longDescription, time, portions, recipe } = Astro.props;
const paragraphs = longDescription?.split(/\r?\n\r?\n/).filter(Boolean) ?? [];
---

<div class="fs-description">
  <div class="fs-description__meta">
    <Badge icon="ðŸ½ï¸" text={`${portions} posjoner`} client:load />
    <Badge icon="â±ï¸" text={time} client:load />
    {recipe && <DifficultyBadge recipe={recipe} client:load />}
  </div>
  <Divider grey />

  {description && <p class="fs-description__ingress" set:html={description} />}

  <div class="fs-description__text">
    {paragraphs.map((para) => <p set:html={para.trim()} />)}
  </div>
</div>

<style lang="scss" scoped>
  @use "../styles/mixins/" as *;

  .fs-description {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    &__ingress {
      @include get-text("fs-oppskrift-ingress");
      margin-bottom: 1rem;
    }
    &__text p {
      margin-bottom: 1rem;
    }
    &__meta {
      display: flex;
      gap: 1rem;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.5rem;
      flex-wrap: wrap;

      @include bp("tablet-up") {
        gap: 1.5rem;
      }
    }
  }
</style>
