---
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
import "../styles/main.scss";
export interface Props {
  title: string;
  siteName?: string;
  description?: string;
  image?: string;
}

const {
  title,
  siteName = "Foodstalker",
  description = "Foodstalker en matblogg laget av to stalkere som blir inspirert av flinke kokker og deler sine favorittoppskrifter",
  image = "https://foodstalker.b-cdn.net/2021/juleflesk/DSC00495-2.jpg",
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" class="html">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content="foodstalker.no" />
    <link rel="icon" href="/logo-pink35x35.png" />
    <script
      defer
      data-domain="foodstalker.no"
      src="https://plausible.io/js/script.js"
    ></script>
    <title>Foodstalker - {title}</title>
  </head>

  <body class="fs-body">
    <Navbar client:load />
    <main class="fs-container fs-container--tablet-big">
      <slot />
    </main>
    <Footer client:load />
  </body>
</html>
